@model PagedList.IPagedList<Model.EF.Content>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Danh sách tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section jsFooter{  
    <script src="~/Assets/admin/js/controller/contentController.js"></script>
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Danh sách tin tức
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                @using (Html.BeginForm("Index", "User", FormMethod.Get))
                {
                    <div class="row form-group">
                        <div class="col-lg-12">
                            <div class="col-md-4">
                                <input type="text" value="@ViewBag.strSearch" name="strSearch" class="form-control" />
                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-success">Tìm kiếm</button>
                                <a class="btn btn-primary" href="/Admin/Content/Create">Thêm mới</a>
                            </div>
                        </div>
                    </div>
                }

                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Tiêu đề</th>
                                <th>Hình ảnh</th>
                                <th>Ngày đăng</th>
                                <th>Trạng thái</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                //mỗi dòng sẽ có 1 id
                                <tr id="row_@item.ID">
                                    <td>
                                        @item.Name
                                    </td>
                                    <td>
                                        @item.Image
                                    </td>
                                    <td>
                                        @item.CreatedDate
                                    </td>
                                    <td><a href="#" class="btn-active" data-id="@item.ID">@(item.Status ? "Actived" : "Blocked")</a></td>
                                    <td>
                                        <a href="/Admin/Content/Edit/@item.ID">Sửa</a>
                                        @Ajax.ActionLink("Xóa", "DeleteUser", new { @id = item.ID }, new AjaxOptions
                                   {
                                       Confirm = "Bạn có muốn xóa user này?",
                                       OnComplete = "$('#row_" + @item.ID + "').remove()",
                                       HttpMethod = "Delete"

                                   })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, strSearch = @ViewBag.strSearch }))
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
        <!-- /.col-lg-12 -->
    </div>
</div>
